@import '~@fortawesome/fontawesome-svg-core/styles';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&family=Lato&display=swap');
@import "~bootstrap/scss/mixins";

body {
    background-color: #f6f8fa!important;
    font: 16px 'Lato', sans-serif;
    font-display: swap;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

.nav-link, .navbar-text {
    font: 21px 'Cormorant Garamond', serif;
    font-weight: 500;
}

/* index */
.about {
    margin-top: 40px;
    width: 100%;
    /* height: 500px; */
    margin-bottom: 20px;
}

.about_left {
    margin-top: 40px;
    text-align: center;
    padding: 30px 10px;
    position: relative;
}

.about_left_icon {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}

.about_portrait {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
}

.about_left > h1 {
    font-weight: 600;
    letter-spacing: -0.25px;
    line-height: 1.125;
    color: #022144;
}

.about_left > h3 {
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.25;
    color: #697A89;
}

.about_right {
    padding: 40px 10px;
    position: relative;
}

.about_right > h1 {
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: -0.25px;
    line-height: 1.125;
    color: #022144;
    margin-bottom: 30px;
}

.about_right > h3 {
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.25;
}

.recent {
    background-color:#ffffff;
    padding: 30px 10px;
    margin: 0;
    min-height: calc(100vh - 70px);
}

.recent-inner {
    margin: 0;
    padding: 0;
}

.info-badge {
    font-size: 1em;
}

.info-badge > a {
    color: unset;
    text-decoration: none;
}

/* 404.html */
.intro {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.intro > h1 {
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: -0.25px;
    line-height: 1.125;
    color: #022144;
    margin-bottom: 20px;
}

.intro > h2 {
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.25;
    color: #697A89;
}

/* Single */

.single-card {
    margin-top: 10px;
}

@media only screen and (max-width: 768px){
    .single-card {
        margin-left: -3%;
        margin-right: -3%;
        margin-top: 10px;
    }
}

.single-content {
    margin-top: 20px;
    padding-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
    position:relative;
}

.single-title {
    background-color: #FFFFFF;
    /* margin-top: 20px; */
    padding-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.125;
}

.single-related {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
/* Lists */

.list-card {
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-title {
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.25;
    color: #697A89;
    vertical-align: middle;
}

.list-title-pic {
    max-height:300px;
    max-width:500px;
}

.list-show {
    background-color: #ffffff;
}

.list-show-title {
    text-align: center;
    margin-top: 100px;
}

@media only screen and (max-width: 768px) {
    .list-show {
        display: none;
    }

    .list-show-title {
        text-align: center;
        margin-top: 20px;
    }
}

.tags-card {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Pager */
.pager {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* nav */

.nav_container {
    border-radius: 0;
    height: 64px;
}

.nav-self-logo {
    margin-left: 10px;
    width: 200px;
    height: 100%;
    line-height: 60px;
    /* text-align: center; */
    color: #FFFFFF;
    font-size: 24px;
}


@media only screen and (max-width: 768px) {
    #nav_big {
        display: none;
    }

    #nav_small {
        display: inline-block;
    }
    
}

@media only screen and (min-width: 768px) {
    #nav_big {
        display: inline-block;
    }

    #nav_small {
        display: none;
    }
}

@media only screen and (min-width: 1100px) {
    .card-columns {
        column-count: 4;
    }
}

/* Footer */
footer {
    height: 70px;

    background-color: #343a40!important;
    padding: 20px 0 20px;

    text-align: center;
    border-bottom: var(--border-width) solid var(--accent);
    font-family: 'TT Commons',Arial,Helvetica,sans-serif;
    font-size: 1.0625rem;
    font-display: swap;
    color: #ffffff;
}

.copyright {
    border-bottom: var(--border-width) solid var(--accent);
    font-family: 'TT Commons',Arial,Helvetica,sans-serif;
    font-size: 1.0625rem;
    font-display: swap;
    color: #ffffff;
    margin-top: 10px;
}

.footer-url {
    color: #c2c2c2;
}


.footer-url:hover {
    color: #f2f2f2;
    text-decoration: underline;
}

.self-elem-quote {
    margin-bottom:10px;
    padding:15px;
    line-height:22px;
    border-left:4px solid #009688;
    border-radius:0 2px 2px 0;
    /* background-color:#f2f2f2 */
}

.self-elem-quote-bg-red {border-left-color: #FF5722!important;}
.self-elem-quote-bg-orange {border-left-color: #FFB800!important;}
.self-elem-quote-bg-green {border-left-color: #009688!important;}
.self-elem-quote-bg-cyan {border-left-color: #2F4056!important;}
.self-elem-quote-bg-blue {border-left-color: #1E9FFF!important;}
.self-elem-quote-bg-black {border-left-color: #393D49!important;}
.self-elem-quote-bg-gray {border-left-color: #666!important;}
